---
pageable: true
template: true
---

<%#
Author template

@todo Add Schema.org info for the Author elements
%>

<%
content_for :title, "#{t(:'meta.authorPage.title')}: #{author}"
content_for :description, "#{t(:'meta.authorPage.description')}: #{author}"
prevPage = prev_page || false
nextPage = next_page || false
%>

<div class="blog-category">

  <%# Page strip %>
  <%= partial 'modules/blog/page-strip.erb', locals: {text: "#{t(:'author.title')}: #{author}"} %>

  <div class="blog-author__list">

    <div class="row">

      <%# Article list %>
      <% page_articles.each do |article| %>
        <div class="col-xs-12 col-sm-6">
          <%= partial 'modules/blog/post-card.erb', locals: {article: article.data, url: article.url} %>
        </div>
      <% end %>

    </div>

  </div>

  <%# Pagination %>
  <div class="blog-author__pagination">
    <%= partial 'partials/molecule/pagination.erb', locals: {
      nextPage: nextPage,
      prevPage: prevPage,
      pageNo: page_number,
      pages: num_pages} %>
  </div>

</div>
