---
pageable: true
template: true
---

<%#
Calendar template

@todo Rename this to archive - and add Schema.org information
%>

<%
content_for :title, "#{t(:'meta.archive.title')}: #{year}"
content_for :description, "#{t(:'meta.archive.description')}: #{year}"
prevPage = prev_page || false
nextPage = next_page || false
%>

<div class="blog-category">

  <%# Page strip %>
  <%= partial 'modules/blog/page-strip.erb', locals: {text: "#{t(:'archive.title')}: #{year}"} %>

  <div class="blog-calendar__list">

    <div class="row">

      <%# Article list %>
      <% page_articles.each do |article| %>
        <div class="col-xs-12 col-sm-6">
          <%= partial 'modules/blog/post-card.erb', locals: {article: article.data, url: article.url} %>
        </div>
      <% end %>

    </div>

  </div>

  <%# Pagination %>
  <div class="blog-calendar__pagination">
    <%= partial 'partials/molecule/pagination.erb', locals: {
      nextPage: nextPage,
      prevPage: prevPage,
      pageNo: page_number,
      pages: num_pages} %>
  </div>

</div>
