// Autocomplete
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category google
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'google-map';

// Footer
//----------------------------------------------------------------------------//
.#{$module} {
  border: 1px solid #000 !important;
}

// Autocomplete input box
//----------------------------------------------------------------------------//
.pac-container {
  z-index: 1051 !important;
}
