<li class="dropdown">
  <% button[:data] = { toggle: 'dropdown' } %>
  <% button[:dropdown] = true %>
  <% button[:href] = 'javascript:;' %>

  <%# Button %>
  <%= partial 'partials/atom/button.erb', locals: button %>

  <%# List dropdown %>
  <%= partial 'partials/atom/list-dropdown.erb', locals: locals[:list] %>

</li>
