-# Article layout
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @category layout

-# Layout - calls wrapper layout
= wrap_layout "#{config[:layout_dir]}bootstrap" do

  -# Bootstrap container
  .container

    -# Bootstrap row
    .row

      -# Bootstrap column
      .col-md-9.col-md-push-3.mainContent

        = partial 'partials/template/article.erb', locals: { breadcrumb: true,
          category: true,
          detail: true,
          image: true,
          pager: true }

      -# Bootstrap column
      .col-md-3.col-md-pull-9

        -# Loop through the promotions
        - t(:'sidebar').each do |value|

          - if value[:active]

            -# Check if button is applicable
            - if value[ :button ]

              -# Button
              - button = codeBlender "button", "atom",
                          { block:   true,
                              context: "success",
                              text:    value[ :button ],
                              href:    value[ :url ] }

            -# Promotion
            = codeBlender "panel", "molecule",
              { body: value[:body],
                context: value[:context],
                footer:  button,
                heading: { text: value[:title] } }
