//
// Footer
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category organism
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'footer';

// Footer
//----------------------------------------------------------------------------//
.#{ $module } {

    background-image : url( "/assets/images/footer/background.png" );
    color            : #000;

}
