//
// Scaffolding
// Creates the CSS for the main elements of the site
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {

    // Add Padding - required if using the fixed NavBar
    //------------------------------------------------------------------------//
    padding-top : 0;
}

address {
    margin-bottom : 0;
}

a:hover {
    text-decoration : none;
}

.mainLogo {

    padding-bottom : 10px;
    padding-top    : 10px;

    p {
        color       : #ddd;
        padding-top : 10px;
    }

}
