-##
-# Navigation Above
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category partial
-##

-# Main Logo
.container.mainLogo.text-center

    -# Link To
    = link_to( "/", title: "Green Touch Spa and Massage" ) do

        -# Image
        = codeBlender "image", "atom",
          { alt: "Green Touch logo",
            src: "greentouch-logo.png" }

    -# Copy
    %p
        Traditional Thai massage treatments in Wimbledon, London, UK
