// App store
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'app-store';

// App store
//----------------------------------------------------------------------------//
.#{$module} {

  background-color: #f3f5f5;
  padding: 30px;
  position: relative;

  // App icon
  //--------------------------------------------------------------------------//
  &__icon {
    margin-bottom: 30px;
  }

  // HREF
  //--------------------------------------------------------------------------//
  a:hover {
    opacity: 0.75;
  }

  // Figure
  //--------------------------------------------------------------------------//
  figure {
    display: inline-block;
  }

  // App store
  //--------------------------------------------------------------------------//
  &__itunes,
  &__google {
    max-width: 150px;
  }

  // Paragraph
  //--------------------------------------------------------------------------//
  p {
    color: #2e3333;
    font-size: 28px;
    margin-bottom: 30px;
  }
}
