<%#
Business module
Utilised on the corporate competitions pages

@usage
= partial '_businessModule/businessModule'

@author Ian Warner <ian.warner@drykiss.com>
@category blog
%>

<section class="business-module">

  <div class="business-module__overlay">

    <div class="container">

      <div class="row">

        <div class="col-md-6 col-md-offset-3">

          <div class="business-module__wrapper">

            <%= partial 'partials/molecule/heading.erb', locals: {tag: 'h4', text: :'businessModule.heading.text'} %>

            <p><%= t(:'businessModule.strapline') %></p>

            <ul>
              <% t(:'businessModule.advantages').each do |advantage| %>
                <li><%= advantage %></li>
              <% end %>
            </ul>

            <div class="text-center">
            <%= partial 'partials/atom/button.erb', locals: {
              context: 'primary',
              href: :'businessModule.link.url',
              text: :'businessModule.link.text'} %>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
