// Hero
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//
// @see http://lawrencenaman.com/css/responsive-slanted-divs-with-css/
// @see https://codepen.io/amydecat/pen/KapqYE
//
// @todo Create the slant as a mixin
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'hero';

// Hero
//----------------------------------------------------------------------------//
.#{$module} {
  margin-bottom: 50px;
  position: relative;

  // Image
  //--------------------------------------------------------------------------//
  &__image {
    position: relative;
  }

  // Introduction
  //--------------------------------------------------------------------------//
  &__intro {
    background-color: $brand-primary;
    min-height: 80px;
    padding-bottom: 15px;
    position: relative;
  }

  // Slant
  //--------------------------------------------------------------------------//
  &__intro::after {
    background: $brand-primary;
    content: '';
    display: block;
    height: 91px;
    left: 0;
    position: absolute;
    right: 1px;
    top: -91px;
    transform: skewy(6deg);
    transform-origin: 0 100%;
    z-index: 1;
  }

  // Slant - news
  //--------------------------------------------------------------------------//
  &--news::after {
    background: #bdbaba;
  }

  // Date
  //--------------------------------------------------------------------------//
  &__date {
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0 0 10px 15px;
    position: relative;
    z-index: 2;
  }

  // Heading
  //--------------------------------------------------------------------------//
  &__heading {
    font-size: 34px;
    line-height: 38px;
    margin-left: 15px;
    max-height: 150px;
    max-width: 430px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    a {
      color: #fff;
      display: block;

      &:hover {
        color: #f2f1f1;
      }
    }
  }

  // Button
  //--------------------------------------------------------------------------//
  &__button {
    background-color: #fff;
    border-color: #fff;
    border-radius: 2px;
    bottom: 25px;
    color: $brand-primary;
    padding: 10px 45px;
    position: absolute;
    right: 15px;
    z-index: 2;

    &:hover {
      background-color: #f2f1f1;
      border-color: #f2f1f1;
      color: $brand-primary;
    }
  }

  // Media queries - Mobile
  //--------------------------------------------------------------------------//
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;

    // Heading
    //------------------------------------------------------------------------//
    &__heading {
      font-size: 30px;
      line-height: 33px;
      margin: 0 15px;
      max-height: 100px;
      max-width: none;
      min-height: initial;
      padding-top: 5px;
    }

    // Button
    //------------------------------------------------------------------------//
    &__button {
      bottom: 0;
      display: block;
      margin: 20px 15px 0;
      position: relative;
      right: 0;
    }
  }
}
