// Newsletter
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'newsletter';

// Newsletter
//----------------------------------------------------------------------------//
.#{$module} {
  background-color: #440063;
  padding: 30px 0;
}
