// Post category
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'post-category';

// Post category
//----------------------------------------------------------------------------//
.#{$module} {

  // Heading
  //--------------------------------------------------------------------------//
  &__heading {
    margin-bottom: 45px;
    margin-top: 35px;

    a {
      color: #000;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}
