<%#
Post category
Gets the first x posts in each category for the display on a page

@author Ian Warner <ian.warner@drykiss.com>
@category blog

@param {int} count Number or articles to select
@param {string} category URL formatted category
@param {string} title Title

@todo Put structured data around this
%>

<%
blog = blog"
count = count || 2
select = blog(blog).articles.select {
  |a| (config[:blogIDs] & Array(a.data.id)).blank? and a.data.homepage != 'false' and a.data[:category] === category }.first(count)
%>

<%# Check that we have results %>
<% if select.count > 0 %>

  <section class="post-category">

    <div class="text-center">

      <%# Heading - Category name - H2 %>
      <%= partial 'partials/molecule/heading.erb', locals: {
        href: category_path(category, blog),
        extraClass: 'post-category__heading heading--noMargin',
        tag: 'h2',
        text: title } %>

    </div>

    <div class="row">

      <%# Loop through the results %>
      <% select.each do |article| %>

        <div class="col-xs-12 col-sm-6">

          <%# Post card %>
          <%= partial 'modules/blog/post-card.erb', locals: { article: article.data, url: article.url } %>

        </div>

      <% end %>

    </div>

  </section>

<% end %>
