// Post new
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'post-new';

// Post new
//----------------------------------------------------------------------------//
.#{$module} {

  // Heading
  //--------------------------------------------------------------------------//
  &__heading {
    margin-bottom: 45px;
  }

  // Media queries - Mobile
  //--------------------------------------------------------------------------//
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 171px;
  }
}
