// Post card
//
// @author Ian Warner <ian.warner@drykiss.com>
// @category blog
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'post-card';

// Post card
//----------------------------------------------------------------------------//
.#{$module} {

  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;

  // Container
  //--------------------------------------------------------------------------//
  &__container {
    padding: 0;
    position: relative;

    .image__img {
      width: 100%;
    }
  }

  // Content
  //--------------------------------------------------------------------------//
  &__content {
    padding: 15px;
    position: relative;
  }

  // Excerpt
  //--------------------------------------------------------------------------//
  &__excerpt {
    line-height: 22px;
    margin-bottom: 15px;
  }

  // Date
  //--------------------------------------------------------------------------//
  &__date {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  // Category
  //--------------------------------------------------------------------------//
  &__category {
    font-size: 12px;
    margin-bottom: 10px;
  }

  // Details
  //--------------------------------------------------------------------------//
  &--detail {
    height: 123px;
    overflow: hidden;
  }

  // Heading
  //--------------------------------------------------------------------------//
  &__heading {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;

    a {
      color: #000;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  // Action
  //--------------------------------------------------------------------------//
  &__action {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 10px 15px;
  }

  // Readtime
  //--------------------------------------------------------------------------//
  &__readtime {
    font-size: 14px;
  }

  // Tags
  //--------------------------------------------------------------------------//
  &__tags {
    height: 23px;
    margin-top: 5px;
    overflow: hidden;
  }

  // Tag
  //--------------------------------------------------------------------------//
  &__tag {
    border-radius: 0;
    display: inline-block;
    margin-right: 5px;

    &.label {
      font-size: 12px;
      font-weight: normal;
      padding: 5px;

      &[href]:hover {
        background-color: #cac7c7;
        color: #000;
      }
    }
  }
}
