<%#
Facebook page plugin

@author Ian Warner <ian.warner@drykiss.com>
@category facebook
%>

<%# Variable %>
<% href = string(locals[:href] )%>

<%# Page plugin %>
<div class="fb-page" data-href="<%= href %>" data-small-header="true" width="500">

  <blockquote class="fb-xfbml-parse-ignore" cite="<%= href %>">
    <%= link_to(string(locals[:title]), href) %>
  </blockquote>

</div>
