---
angular:
  app: Search
description: Deliveroo search results
title: Deliveroo Search Results
---

<%#
Search results

@author Ian Warner <ian.warner@drykiss.com>
@category search

@see https://lunrjs.com/
@see https://github.com/weixsong/elasticlunr.js

@todo Use the partials for this
%>

<%# Search results %>
<section class="search-results" ng-controller="SearchController as Search">

  <%# Page strip %>
  <%= partial 'modules/blog/page-strip.erb', locals: {
    text: :'search.title'
  } %>

  <div class="search-results__results">

    <%# Searching %>
    <ol ng-if="Search.searching" class="ng-cloak article-list list-group">
      <li class="list-group-item"><%= t(:'search.searching') %></li>
    </ol>

    <%# No Results %>
    <ol ng-if="Search.noresults" class="ng-cloak article-list list-group">
      <li class="list-group-item"><%= t(:'search.noresults') %></li>
    </ol>

    <%# Results %>
    <div class="ng-cloak row" ng-if="Search.data">

      <%# Angular repeat %>
      <span ng-repeat="node in Search.data">

        <div class="col-xs-12 col-sm-4">

          <%# Article %>
          <article
            class="post-card"
            role="article"
            itemprop="blogPost"
            itemscope=""
            itemtype="http://schema.org/BlogPosting"
          >

            <%# Card container %>
            <div class="post-card__container">

              <%# Link %>
              <a ng-href="{{ node.url }}" rel="nofollow">

                <%# Image %>
                <figure
                  class="image"
                  itemprop="image"
                  itemscope=""
                  itemtype="http://schema.org/ImageObject"
                >

                  <img
                    ng-src="{{ node.image | imageReplace }}"
                    alt="{{ node.heading }}"
                    class="image__img post-card__image img-responsive"
                    itemprop="contentUrl"
                  >

                </figure>

              </a>
            </div>

            <%# Card content %>
            <div class="post-card__content">

              <div class="post-card--detail">

                <%# Heading %>
                <h4
                  class="heading post-card__heading"
                  itemprop="name"
                  rel="nofollow bookmark"
                >
                  <a ng-href="{{ node.url }}">
                    <span ng-bind-html="node.heading | sanitize"></span>
                  </a>
                </h4>

                <%# Description %>
                <p
                  class="post-card__excerpt"
                  itemprop="description"
                >
                  <span ng-bind-html="node.excerpt | sanitize"></span>
                </p>

              </div>

            </div>

            <%# Card actions %>
            <div class="post-card__action">

              <div class="text-right">

                <%# Button link %>
                <a
                  class="btn btn-primary btn-xs"
                  ng-href="{{ node.url }}"
                  role="button"
                  type="button"
                >
                  <%= t(:'home.hero.button') %>
                </a>

              </div>

            </div>

          </article>

        </div>

      </span>

    </div>

  </div>

</section>
