---
stub: index
---

-# Heading Panel
= codeBlender "panel", "molecule",
  { body:    :"home.panel01Body",
    heading: { text:  :"home.panel01Text",
               small: :"home.panel01Small" } }

-# Carousel : Image Size 848 x 425 pixels
= codeBlender 'carousel', 'molecule',
  { array: t(:'home.carousel'),
    control: true,
    indicator: true }

%br

-# Text under Carousel
= codeBlender "panel", "molecule",
  { body:    :"home.panel02Body",
    heading: { text: :"home.panel02Title", tag: "h2" } }
