---
stub: specialoffer
---


-# Heading panel
= codeBlender 'panel', 'molecule',
  { body: :'promotions.panelBody',
    heading: { text:  :"promotions.panelText",
               small: :"promotions.panelSmall" } }

-# Bootstrap Row
.row

  -# Promotions
  - t(:'promotions.promotions').each do |value|

    -# Bootstrap Columms
    .col-md-4.col-sm-6.col-xs-12

      -# Panel
      = codeBlender "panel", "molecule",
        { body:    value[ :body ],
          context: value[ :context ],
          heading: { text:  value[ :text ],
                      small: value[ :small ],
                      type:  "h2" } }
