---
stub: treatment
---

-# Bootstrap row
.row

  .col-md-12

    -# Heading Panel
    = codeBlender 'panel', 'molecule',
      { body: :'treatments.panelBody',
        heading: { text: :'treatments.panelText',
                   small: :'treatments.panelSmall' } }

-# Bootstrap row
.row

  -# Loop through the treatments
  - t(:'treatments.treatments').each_with_index do |value, i|

    - if value[:status] != 'suspended'

      .col-md-4.col-sm-6.col-xs-12

        -# Name
        - href = CGI::escape(value[:title]).gsub(',', '')

        -# Button
        - footer = codeBlender 'button', 'atom',
          { block: true,
            context: 'success',
            text: :'treatments.button',
            href: "/book-massage?t=#{href}" }

        -# Pricing Table
        = codeBlender 'pricing-table', 'molecule',
          { array: value[:items],
            context: value[:context],
            footerText: footer,
            heading: { text: value[:title] },
            imageClass: "image #{value[:extraClass]}",
            subheading: value[:description] }
